<div class="font-playfair">
  <div class="bg-gray-100">
    <div class="max-w-7xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl italic font-extrabold text-center text-gray-900">{{'title2020'|translate}}</h1>
    </div>
  </div>



  <div class="bg-gray-100 grid grid-rows-2 grid-flow-col gap-4 ">
    <div class="pt-10 items-end">
      <div class="row-span-1 w-full items-end ml-40 flex justify-end">
        <img class="" src="/assets/infiniterecharge.png/" class="rounded-lg" />
      </div>
    </div>
    <div class="col-span-2 whitespace-pre justify-end flex text-xl text-center">{{'saison2020'| translate}}</div>
    <div class="row-span-3 col-span-3">
      <div class="pt-12 pl-12">
        <iframe class="rounded-lg" width="680" height="400" src="https://www.youtube.com/embed/UIRdg4FAZPE">
        </iframe>
      </div>
    </div>
  </div>

  <div class="flex flex-col w-full bg-gray-100 border-opacity-50">
    <div class="divider before:bg-black after:bg-black mx-32 xl:mx-96 mt-12 font-bold text-4xl">{{'robot'|translate}}</div>
  </div>

  <section class="w-full bg-gray-100 pt-7 pb-7 md:pt-20 md:pb-24 ">
    <div
      class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">

      <!-- Image -->
      <div
        class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
        <img src="/assets/robot2020.png" class="">
      </div>

      <!-- Content -->
      <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none">
        <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
          Informations
        </h2>
        <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">{{'description'|translate}}</p>
        <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> {{'nom'|translate}}: Black Falcon
          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> {{'Poids'|translate}}: 125lbs
          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Dimensions:: 32” x 26” x 26.5”
            (L x l x h)
          </li>
        </ul>
      </div>
      <!-- End  Content -->
    </div>
    <div
      class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16">

      <!-- Content -->
      <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32">
        <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
          Competitions
        </h2>
        <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">{{'cancel'|translate}}</p>
        <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Festival de Robotique à
            Sherbrooke Regional (QCSH)

          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>{{'champ'|translate}}

          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>{{'chairmans'|translate}}

          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Festival de Robotique à Montréal
            Regional (QCMO)


          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Prix Finaliste Woodie Flowers
            (Érik Léveillé-Kunst)


          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
            <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>{{'worldchamp'|translate}}


          </li>
        </ul>
      </div>
      <div class=" pt-12">
        <img class="rounded-lg" src="assets/banners.png">
      </div>
    </div>
  </section>


  <div class="bg-gray-100">
    <div class="flex justify-center">
      <div class="bg-gray-100">
        <div class="max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
          <div class="flex flex-wrap">

            <div class="flex flex-col w-full bg-gray-100 border-opacity-50">
              <div class="divider before:bg-black after:bg-black mb-12 mx-48 font-bold text-4xl">Photos</div>
            </div>

            <div *ngFor="let photo of photos">
              <span class="w-full md:w-1/4 p-4">
                <div class="bg-gray rounded-xl p-4">
                  <div class="flex items-center justify-center">
                    <div class="relative">
                      <img [src]="photo.path" class="rounded-xl h-64 w-84">
                    </div>
                  </div>
                </div>
              </span>
              </div>

            <div class="flex flex-col w-full bg-gray-100 border-opacity-50">
              <div class="divider before:bg-black after:bg-black mb-12 font-bold text-4xl">{{'driveteam'|translate}}</div>
            </div>

            <div class="w-full md:w-1/4 p-4">
              <div class="bg-gray rounded-xl p-6">
                <div class="flex items-center justify-center">
                  <div class="relative">
                    <img src="assets/seasons/2020/massimo.jpg" class="rounded-xl">
                    <p class="text-center font-semibold mt-4">Massimo Di Maulo</p>
                    <p class="text-center mt-4">{{'year5'| translate}}</p>
                    <p class="text-center mt-4">{{'massimo'| translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/4 p-4">
              <div class="bg-gray rounded-xl p-6">
                <div class="flex items-center justify-center">
                  <div class="relative">
                    <img src="assets/seasons/2020/adam.jpg" class="rounded-xl">
                    <p class="text-center font-semibold mt-4">Adam Al-Finge</p>
                    <p class="text-center mt-4">{{'year4'| translate}}</p>
                    <p class="text-center mt-4">{{'copilot'| translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/4 p-4">
              <div class="bg-gray rounded-xl p-6">
                <div class="flex items-center justify-center">
                  <div class="relative">
                    <img src="assets/seasons/2020/camil.jpg" class="rounded-xl">
                    <p class="text-center font-semibold mt-4">Camil Bisson</p>
                    <p class="text-center mt-4">{{'year4'| translate}}</p>
                    <p class="text-center mt-4">{{'humanplayer'| translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/4 p-4">
              <div class="bg-gray rounded-xl p-6">
                <div class="flex items-center justify-center">
                  <div class="relative">
                    <img src="assets/seasons/2020/rodrigo.jpg" class="rounded-xl">
                    <p class="text-center font-semibold mt-4">Rodrigo Angel Torres Pérez</p>
                    <p class="text-center mt-4">{{'year3'| translate}}</p>
                    <p class="text-center mt-4">{{'technician'| translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-col w-full bg-gray-100 border-opacity-50">
              <div class="divider before:bg-black after:bg-black mb-12 font-bold text-4xl">{{'student'|translate}}</div>
            </div>

            <span *ngFor="let item of students">
              <span class="w-full md:w-1/4 p-4">
                <div class="bg-white rounded-xl p-6 mx-4 w-64">
                  <span class="flex items-center">
                    <img [src]="item.path" class="w-16 h-16 rounded-full mr-4">
                    <span class="text-lg">
                      <p class="text-gray-900 leading-none">{{item.name}}</p>
                      <p class="text-gray-600">{{item.year|translate}}</p>
                    </span>
                  </span>
                </div>
              </span>
            </span>

            <div class="flex flex-col w-full bg-gray-100 border-opacity-50">
              <div class="divider before:bg-black after:bg-black mb-12 font-bold text-4xl">{{'mentors'|translate}}</div>
            </div>

            <div *ngFor="let mentor of mentors">
            <span class="w-full md:w-1/4 p-4">
              <div class="bg-gray rounded-xl p-4">
                <div class="flex items-center justify-center">
                  <div class="relative">
                    <img [src]="mentor.path" class="rounded-xl">
                    <p class="text-center font-semibold mt-4">{{mentor.name}}</p>
                    <p class="text-center  mt-4">{{mentor.role| translate}}</p>
                    <p class="text-center {{mentor.color}} mt-4">{{'mentor'|translate}}{{mentor.xp}}</p>
                  </div>
                </div>
              </div>
            </span>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>