.hello {
    font-family: HelveticaNowBold;
    font-size: 3rem;
    padding-right: 1rem;
    color: #ff5925;
  }
  
  a{
    color: #3e83fb;
  }
  
  .title{
    font-family: HelveticaNowBold;
    font-size: 2rem;
    color: #ff5925;
  }
  
  *{
    justify-content: left;
  }
  
  .brace{
    font-family: HelveticaNowBold;
    font-size: 10rem;
    padding-right: 1rem;
    color: #5cda42;
  }
  
  .mee{
    font-family: HelveticaNow;
    font-size: 2rem;
    padding-right: 1rem;
  }
  
  .me{
    font-family: HelveticaNowText-Regular;
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  
  .mainText{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }