<div class="font-playfair">
<div class="bg-gray-200">
    <div class="max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-center text-gray-900">FIRST - Infinite Recharge Challenge</h1>
    </div>
</div>

<div class="bg-gray-200 grid grid-rows-3 grid-flow-col gap-4">
    <div class="row-span-1 pl-96">
        <img src="/assets/infiniterecharge.png/" class="rounded-lg" />
    </div>
    <div class="col-span-2 whitespace-pre text-center pl-64">{{'saison2020'| translate}}</div>
    <div class="row-span-3 col-span-3">
        <div class="pt-12 pl-24">
        <iframe class="rounded-lg" width="680" height="400"
        src="https://www.youtube.com/embed/UIRdg4FAZPE">
    </iframe>
    </div>
</div>
</div>



<div class="flex justify-center">

    <div class="card animate">
        <div class="flex justify-center">
            <div class="card card-compact w-96 bg-base-100 shadow-xl">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
              <div class="card card-compact w-96 bg-base-100 shadow-xl">
                <figure><img src="assets/massimo.jpg" alt="Shoes" /></figure>
                <div class="card-body text-center">
                  <h2 class="card-title text-center">Massimo Di Maulo</h2>
              
                </div>
              </div>
              <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                </div>
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
              </div>
              <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                </div>
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
              </div>
        </div>
    </div>