<div class="font-playfair">
<div class="bg-gray-200">
    <div class="max-w-7xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl italic font-extrabold text-center text-gray-900">FIRST - Infinite Recharge Challenge</h1>
    </div>
</div>



<div class="bg-gray-200 grid grid-rows-2 grid-flow-col gap-4 ">
  <div class="pl-96 pt-10">
  <div class="row-span-1 xl:pl-60">
      <img src="/assets/infiniterecharge.png/" class="rounded-lg" />
  </div>
</div>
  <div class="col-span-2 whitespace-pre text-xl text-center pl-64">{{'saison2020'| translate}}</div>
  <div class="row-span-3 col-span-3">
      <div class="pt-12 pl-12">
      <iframe class="rounded-lg" width="680" height="400"
      src="https://www.youtube.com/embed/UIRdg4FAZPE">
  </iframe>
  </div>
</div>
</div>

<div class="flex flex-col w-full bg-gray-200 border-opacity-50">
  <div class="divider before:bg-black after:bg-black mx-32 xl:mx-96 mt-12 font-bold text-4xl">The Robot</div>
</div>

<section class="w-full bg-gray-200 pt-7 pb-7 md:pt-20 md:pb-24 " >
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">

      <!-- Image -->
      <div class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
          <img src="/assets/robot2020.png" class="pl-36 xl:pl-48">
      </div>

      <!-- Content -->
      <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none">
          <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
            Informations
          </h2>
          <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
              Build an atmosphere that creates productivity in your organization and your company culture.
          </p>
          <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
              <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full" data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Maximize productivity and growth
              </li>
              <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full" data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Speed past your competition
              </li>
              <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full" data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Learn the top techniques
              </li>
          </ul>
      </div>
      <!-- End  Content -->
  </div>
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16">

      <!-- Content -->
      <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32">
          <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
              Competitions
          </h2>
          <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">
              Save time and money with our revolutionary services. We are the leaders in the industry.
          </p>
          <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
              <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full" data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Automated task management workflow
              </li>
              <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full" data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Detailed analytics for your data
              </li>
              <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full" data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Some awesome integrations
              </li>
          </ul>
      </div>
      <div class=" pt-12">
      <img class="rounded-lg"  src="assets/banners.png">
  </div>
</div>
</section>


<div class="flex justify-center" contenteditable="true">

    <div class="card animate">
        <div class="flex justify-center">
            <div class="card card-compact w-96 bg-base-100 shadow-xl">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
              <div class="card card-compact w-96 bg-base-100 shadow-xl">
                <figure><img src="assets/massimo.jpg" alt="Shoes" /></figure>
                <div class="card-body text-center">
                  <h2 class="card-title text-center">Massimo Di Maulo</h2>
              
                </div>
              </div>
              <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                </div>
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
              </div>
              <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                </div>
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
              </div>
        </div>
</div>