.gridsus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .beginning {
    grid-column: col-start-1;
  }
  
  .middle {
    grid-column: col-start-2;
  }
  
  .end {
    grid-column: col-start-3;
  }

 /* define the fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* apply the fade-in animation to the element */
div {
  animation: fadeIn 1s linear;
}
