<div class="navbar bg-secondary sticky z-index:1000 top-0 shadow-xl h-24">
  <div class="flex-1">
    <a routerLink="" routerLinkActive="" class="normal-case text-xl m-5 text-white"><img
        src="https://i.ibb.co/d7LykwQ/logo-t4k.png" alt="logo-t4k" style="width:75px;"></a></div>
  <a routerLink="about" routerLinkActive=""
    class="normal-case text-white text-3xl font-playfair font-bold hover:text-transparent hover:bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500 bg-clip-text absolute left-32 top-4 h-16 w-64">Team
    3990</a>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <a routerLink="/about" routerLinkActive=""
        class=" link-underline link-underline-yellow m-5 font-playfair text-white">{{ 'about'| translate}}</a>
      <li tabindex="0">
        <a class="text-white font-playfair">{{ 'seasons'|translate}}</a>
        <ul class=" bg-secondary h-128 w-48 ">
          <a class="text-white link-underline-yellow  font-playfair link-underline text-xl mx-10 my-3" routerLink="/season2022"
            routerLinkActive="">{{ 'season'| translate}} 2022</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2020"
            routerLinkActive="">{{ 'season'| translate}} 2020</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2019"
            routerLinkActive="">{{ 'season'| translate}} 2019</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2018"
            routerLinkActive="">{{ 'season'| translate}} 2018</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2017"
            routerLinkActive="">{{ 'season'| translate}} 2017</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2016"
            routerLinkActive="">{{ 'season'| translate}} 2016</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2015"
            routerLinkActive="">{{ 'season'| translate}} 2015</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2014"
            routerLinkActive="">{{ 'season'| translate}} 2014</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2013"
            routerLinkActive="">{{ 'season'| translate}} 2013</a>
          <a class="text-white  font-playfair link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2012"
            routerLinkActive="">{{ 'season'| translate}} 2012</a>

        </ul>
      </li>
      <a routerLink="/history" routerLinkActive=""
        class="text-white font-playfair link-underline link-underline-yellow m-5">{{ 'history'| translate}}</a>
      <a routerLink="/sponsor" routerLinkActive=""
        class="text-white  font-playfair link-underline link-underline-yellow m-5">{{ 'sponsor'| translate}}</a>
      <a routerLink="/contact" routerLinkActive=""
        class="text-white  font-playfair link-underline link-underline-yellow m-5">{{ 'contact'| translate}}</a>
      <button (click)="changeLanguage()"
        class="text-white  font-playfair link-underline link-underline-yellow m-5">{{ 'language'| translate}}</button>


    </ul>
  </div>
</div>