<div class="navbar bg-secondary sticky z-index:1000 top-0 shadow-xl h-24">
    <div class="flex-1">
      <a routerLink="" routerLinkActive="" class="normal-case text-xl m-5 text-white"><img src="https://i.ibb.co/d7LykwQ/logo-t4k.png" alt="logo-t4k" style="width:75px;"></a></div>
      <a routerLink="about" routerLinkActive="" class="normal-case text-white text-3xl hover:text-transparent hover:bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500 bg-clip-text absolute left-32 top-4 h-16 w-64">Team 3990</a>
    
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <a routerLink="/about" routerLinkActive="" class=" link-underline link-underline-yellow m-5 text-white">About</a>
        <li tabindex="0">
          <a class="text-white ">Seasons</a>
          <ul class=" bg-secondary h-128 w-48 ">
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2022" routerLinkActive="">Season 2022</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2020"routerLinkActive="">Season 2020</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2019"routerLinkActive="">Season 2019</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2018"routerLinkActive="">Season 2018</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2017"routerLinkActive="">Season 2017</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2016"routerLinkActive="">Season 2016</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2015"routerLinkActive="">Season 2015</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2014"routerLinkActive="">Season 2014</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2013"routerLinkActive="">Season 2013</a>
            <a class="text-white link-underline-yellow link-underline text-xl mx-10 my-3" routerLink="/season2012"routerLinkActive="">Season 2012</a>

          </ul>
        </li>
        <a routerLink="/history" routerLinkActive="" class="text-white link-underline link-underline-yellow m-5">Our history</a>
        <a routerLink="/sponsor" routerLinkActive="" class="text-white link-underline link-underline-yellow m-5">Sponsor</a>
        <a routerLink="/contact" routerLinkActive="" class="text-white link-underline link-underline-yellow m-5">Contact us</a>
        <a class="text-white link-underline link-underline-yellow m-5">Français</a>



      </ul>
    </div>
  </div>