<div class="relative max-w-7xl mx-auto mt-10 mb-10">
  <div class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-50"></div>

  <div class="relative px-12 py-24 bg-white ring-1 ring-gray-900/5 rounded-xl flex content-center justify-center text-center">
    <div class="space-y-2 mt-2 ">
      <p class="text-slate-800 font-bold whitespace-pre text-3xl">{{'sponsor1'| translate}}</p>
      <p class="text-slate-800 whitespace-pre text-xl m-12">{{'sponsor2'| translate}}</p>
      <div class="flex flex-col w-full border-opacity-50">
        <div class="divider before:bg-black after:bg-black mx-24 mt-12 font-bold text-2xl">{{'plat'| translate}}</div>
      </div>

      <div class="grid grid-cols-3">
        <img src="/assets/collegesponsor.jpg">
        <img src="/assets/abb.jpg">
        <img src="/assets/culturel.jpg">
        <img src="/assets/first.jpg">
        <img src="/assets/appcra.jpg">
        <img src="/assets/fcra.jpg">
      </div>

        <div class="flex flex-col w-full border-opacity-50">
          <div class="divider before:bg-black after:bg-black mx-24 mt-12 font-bold text-2xl">{{'gold'| translate}}</div>
        </div>

        <div class="grid grid-cols-3">
          <img class="pt-8" src="/assets/desjardin.png">
          <img src="/assets/latek.png">
          <img class="pt-8" src="/assets/ingenia.png">
         
        </div>

    </div>
  </div>
</div>