<app-navbar></app-navbar>
<div class="min-h-screen flex justify-center items-center bg-bg1 bg-fixed bg-no-repeat bg-cover bg-center">
    <h1 class=" bg-clip-text text-8xl"> <img src="https://i.ibb.co/SfVK559/logo-2.png" alt="logo-2" border="0" /></h1>
  </div>

  <div class="p-10">
    <h2 class="font-bold justify-center flex text-4xl">What is Tech for Kids? </h2>
      <a class="font-bold flex justify-center text-4xl"> What are our goals, our mission?</a>
  </div>
    
  
  <div class="flex justify-center bg-ima2 min-h-screen bg-center bg-no-repeat bg-cover bg-fixed">
    <div class="card bg-primary p-36 my-48 shadow-xl bg-opacity-75">
      <div class="card-body">
        <h2 class="card-title text-4xl">Tech for Kids is College Regina Assumpta’s multidisciplinary <br> project centered around robotics, science and technology.</h2>
        <a class="text-xl"> The robotics team, Team 3990: Tech for Kids, annually participates in the FRC, FIRST Robotics Competition. <br> In Quebec, FIRST stands for Fostering Inspiration and Recognition of Science and Technology. <br> In the US, FIRST means For Inspiration and Recognition of Science and Technology.</a>
        <a class="text-xl"> Since 2012, young people, together with professional and academic mentors headed by Mr. <br> Sylvain Gauvreau, a science and technology teacher, build a new robot capable of meeting the challenges <br> set by the FRC.</a>
        <a class="text-xl">Moreover, outside of the competition season, the team organizes activities and robotics workshops for <br> disadvantaged youth with physical disabilities in the metropolitan region of Montreal. The team members <br>attend training sessions for programming, engineering, electrics, pneumatics, project management, <br> communications, in addition to the promotion of robotics as a tool to promote student retention.</a>
        <div class="card-actions ">
          <button routerLink="/about" routerLinkActive="" class="btn btn-secondary w-96 text-white justify-center shadow-lg mt-32 mx-72 hover:text-accent">Read More</button>
        </div>
      </div>
    </div>
    </div>
  <div class="bg-primary min-h-screen bg-fixed bg-no-repeat bg-cover"></div>