<app-navbar></app-navbar>
<div class="min-h-screen flex justify-center items-center bg-bg1 bg-fixed bg-no-repeat bg-cover bg-center">
    <h1 class=" bg-clip-text text-8xl"> <img src="https://i.ibb.co/SfVK559/logo-2.png" alt="logo-2" border="0" /></h1>
  </div>

  <div class="p-10">
    <h2 class="font-bold text-4xl">Le Dr Drip Driz</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab numquam eveniet molestias veniam, inventore sint voluptates nam provident impedit laborum ipsa vel quos amet laboriosam dolorum suscipit! Nihil eos repellendus blanditiis repellat laboriosam veniam quod maxime ab! Ea eveniet doloremque, excepturi totam, et molestias dicta accusamus quibusdam quas sunt inventore!</p>
  </div>
    
  
  <div class="bg-ima2 min-h-screen bg-center bg-no-repeat bg-cover bg-fixed"></div>
  
  <div class="bg-ima3 min-h-screen bg-fixed bg-no-repeat bg-cover"></div>